@font-face {
  font-family: "product-sans";
  src: url("/fonts/product-sans/Product-Sans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "product-sans";
  src: url("/fonts/product-sans/Product-Sans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "product-sans";
  src: url("/fonts/product-sans/Product-Sans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "product-sans";
  src: url("/fonts/product-sans/Product-Sans-Bold-Italic.ttf");
  font-weight: 700;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient-1 {
  background: linear-gradient(90deg, #208372 0%, #4bc9b5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-gradient-2 {
  background: linear-gradient(90deg, #000000 0.02%, #2cbbab 86.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-gradient-3 {
  background: linear-gradient(90deg, #625f5f 0.02%, #625f5f63 86.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-gradient-4 {
  background: linear-gradient(90.08deg, #979797 0.02%, #d8d8d8 86.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-gradient-1 {
  background: linear-gradient(268.14deg, #65b0d2 -4.96%, #1c5294 98.44%);
}

.bg-gradient-2 {
  background: linear-gradient(96.99deg, #222222 -0.89%, rgba(0, 0, 0, 0.76) 95.89%);
}

.bg-gradient-3 {
  background: #222222;
}

.border-gradient-1 {
  border: 2px solid rgba(133, 133, 133, 0.25);
}
